@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #201b2c;
    color: #00ff88;
    text-align: center;
}

.container input[type="text"] {
    width: 35%; 
    padding: 10px;
    border: 2px solid #00ff88;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #201b2c;
}

.container .btn-usuarios,
.container .btn-cadastrar-usuario {
    padding: 12px 20px;
    background-color: #00ff88;
    color: #201b2c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.container .btn-usuarios:hover,
.container .btn-cadastrar-usuario:hover {
    background-color: #009c66;
}

.container .btn-cadastrar-usuario {
    margin-top: 10px; 
}