<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lista-usuario.css">
    <title>Lista de Usuários</title>
</head>

<body>
    <div class="container">
        <a href="/cadastrar-usuarios" class="btn-cadastrar-usuario">Cadastrar Usuário</a>

        <!-- Tabela para exibir os usuários -->
        <table class="tabela-usuarios">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Grupo</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody id="tabelaCorpo">
                <!-- Aqui serão listados os usuários -->
            </tbody>
        </table>
    </div>

    <!-- Modal para alterar informações do usuário -->
    <div id="modalAlterarUsuario" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModalAlterarUsuario()">&times;</span>
            <h2>Alterar Informações do Usuário</h2>
            <form id="formAlterarUsuario">
                <label for="novoNome">Novo Nome:</label>
                <input type="text" id="novoNome" name="novoNome" required>

                <label for="novoCPF">Novo CPF:</label>
                <input type="text" id="novoCPF" name="novoCPF" required>

                <label for="novaSenha">Nova Senha:</label>
                <input type="password" id="novaSenha" name="novaSenha" required>

                <button type="button" onclick="submeterAlteracoesUsuario()">Salvar Alterações</button>
            </form>
        </div>
    </div>

    <script>
        // Chame a função carregarUsuarios assim que a página for carregada
        document.addEventListener('DOMContentLoaded', carregarUsuarios);

        async function carregarUsuarios() {
            console.log("Carregando usuários...");
            try {
                const url = 'http://localhost:9090/buscar-usuarios';
                const response = await fetch(url);

                if (response.ok) {
                    const usuarios = await response.json();
                    console.log("Usuários carregados com sucesso:", usuarios);
                    exibirUsuarios(usuarios);
                } else {
                    console.error('Erro ao carregar usuários:', response.statusText);
                }
            } catch (error) {
                console.error('Erro ao carregar usuários:', error);
            }
        }

        function exibirUsuarios(usuarios) {
            const tabelaCorpo = document.getElementById('tabelaCorpo');
            tabelaCorpo.innerHTML = '';

            if (usuarios.length === 0) {
                console.log("A lista de usuários está vazia.");
                return;
            }

            usuarios.forEach(usuario => {
                const newRow = tabelaCorpo.insertRow();
                newRow.innerHTML = `
                    <td>${usuario.nome}</td>
                    <td>${usuario.email}</td>
                    <td>${usuario.status === 'ativo' ? 'Ativo' : 'Inativo'}</td>
                    <td>${usuario.grupo === 'admin' ? 'Administrador' : 'Estoquista'}</td>
                    <td>
                        <button class="btn-alterar-caracteristicas" onclick="abrirModalAlterarUsuario('${usuario.nome}')">Alterar Características</button>
                        <button class="btn-alterar-status" onclick="editarStatus('${usuario.nome}', '${usuario.status}')">Alterar Status</button>
                    </td>
                `;
            });

            console.log("Usuários exibidos na tabela com sucesso.");
        }

        async function abrirModalAlterarUsuario(nome) {
            document.getElementById('novoNome').value = '';
            document.getElementById('novoCPF').value = '';
            document.getElementById('novaSenha').value = '';
            document.getElementById('modalAlterarUsuario').style.display = 'block';
        }

        async function obterInformacoesUsuario(nome) {
            const url = `http://localhost:9090/obter-informacoes-usuario?nome=${nome}`;
            const response = await fetch(url);

            if (response.ok) {
                const usuario = await response.json();
                return usuario;
            } else {
                console.error(`Erro ao obter informações do usuário ${nome}: ${response.statusText}`);
                return null;
            }
        }

        function fecharModalAlterarUsuario() {
            document.getElementById('modalAlterarUsuario').style.display = 'none';
        }

        async function submeterAlteracoesUsuario() {
            const nome = document.getElementById('novoNome').value;
            const cpf = document.getElementById('novoCPF').value;
            const senha = document.getElementById('novaSenha').value;

            const url = 'http://localhost:9090/editar'; // Verifique se o URL está correto
            const data = {
                nome: nome,
                cpf: cpf,
                senha: senha
            };

            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    console.log(`Informações do usuário ${nome} alteradas com sucesso.`);
                    fecharModalAlterarUsuario();
                    // Recarrega a lista de usuários após a edição
                    carregarUsuarios();
                } else {
                    console.error(`Erro ao alterar informações do usuário ${nome}: ${response.statusText}`);
                }
            } catch (error) {
                console.error(`Erro ao alterar informações do usuário ${nome}: ${error}`);
            }
        }



        async function editarStatus(nome, status) {
            const novoStatus = prompt(`Digite o novo status para ${nome}:`, status);
            if (novoStatus !== null) {
                // Se o usuário não cancelar, realiza a edição
                const url = `http://localhost:9090/editar-status-usuario?nome=${nome}&status=${novoStatus}`;
                const response = await fetch(url);

                if (response.ok) {
                    console.log(`Status do usuário ${nome} editado com sucesso. Novo status: ${novoStatus}`);
                    // Recarrega a lista de usuários após a edição
                    carregarUsuarios();
                } else {
                    console.error(`Erro ao editar status do usuário ${nome}: ${response.statusText}`);
                }
            }
        }
    </script>
</body>

</html>