<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lista-usuarios.css">
    <title>Lista de Usuários</title>
</head>
<body>
    <header class="title">
        <h1>
            Lista de Usuários
        </h1>
    </header>

    <div class="container">
        <input type="text">
        <button class="btn-usuarios">
            Procurar
        </button>
        <button class="btn-cadastrar-usuario">
            Cadastrar Usuário
        </button>
    </div>

</body>
</html>
