<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Acesso restrito<br> a funcionários e administradores </h1>
            <img src="imagem-login.gif" alt="imagem de pesquisa" class="login-image">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Login Administrativo</h1>
                <div th:if="${error}" class="error-message">
   				 Login ou senha inválidos. Por favor, tente novamente.
				</div>

                <form action="/processar-login" method="post">
                    <div class="text-field">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="usuario" placeholder="Usuário">
                    </div>
                    <div class="text-field">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha">
                    </div>
                    <button type="submit" class="btn-login">Login</button>
                </form>
                 <a href="/cadastrar-usuarios" class="cadastro-link">Não tem uma conta? Cadastre-se</a>
            </div>
        </div>
    </div>
</body>
