<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="principal.css">
    <title>Principal</title>
</head>
<body>
   <header class="principal">
        <h1 class="">Principal</h1>
   </header>

   <div class="container">
        <ul class="list">
            <li>
                <a href="#" class="lista" id="listarProdutos">Listar Produtos</a>
            </li>
            <li>
                <a href="#" class="lista" id="listarCliente">Listar Cliente</a>
            </li>
        </ul>
   </div>

   <script>
        // Adiciona um evento de clique ao link "Listar Cliente"
        document.getElementById('listarCliente').addEventListener('click', function() {
            // Redireciona para a página de lista de usuários
            window.location.href = '/lista-usuarios';
        });

        // Adicione um evento de clique ao link "Listar Produtos" se necessário
        document.getElementById('listarProdutos').addEventListener('click', function() {
            // Redireciona para a página desejada
            // window.location.href = '/listar-produtos';
        });
    </script>
</body>
</html>
